/*--------------------portfolio------------------------*/
.hero-content {
  margin-left: 0;
}

.hero-content p {
  font-weight: 397; /*350 before*/
  line-height: 36px;
  color: lightgrey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}
/*--------------------projects section-----------------*/
h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 900px;
  width: 900px;
  position: relative;
}

.personal-portfolio {
  background: url("../imgPF/portfolio.gif") no-repeat 60% 10%;
  background-size: contain;
  border: 1px outset #a2a0a0;
  height: 310px;
  cursor: pointer;
}

.personal-portfolio::after {
  content: "building my portfolio.";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: 90%;
  right: 0;
  bottom: 0;
}
.tiktok-redesign {
  background: url("../imgPF/TikTok Redesign.gif") no-repeat 60% 10%;
  background-size: contain;
  cursor: pointer;
}

.tiktok-redesign::after {
  content: "redesigning tiktok.";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  color: #fff;
  display: block;
  top: 30%;
  left: -60%;
  right: 80px;
  bottom: 0;
}

.chess-app {
  /*chess engine gif*/
  background: url("../imgPF/chessgametrimmed.gif") no-repeat 50% 55%;
  background-size: contain;
  cursor: pointer;
}

.chess-app::after {
  content: "building chess.";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  color: #fff;
  display: block;
  top: 60%;
  left: 90%;
  right: 0;
  bottom: 0;
}
.notes-app {
  /*notes app gif*/
  background: url("../imgPF/NotesApp.gif") no-repeat 0 30%;
  background-size: cover;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.notes-app::after {
  content: "taking notes.";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  color: #fff;
  display: block;
  top: 60%;
  left: -50%;
  right: 0;
  bottom: 0;
}
.case-converter {
  /*case converter gif*/
  background: url("../imgPF/CaseConverter.gif") no-repeat 0 60%;
  background-size: cover;
  height: 500px;
  cursor: pointer;
}

.case-converter::after {
  content: "converting cases";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  background: -webkit-linear-gradient(left, lightgrey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  top: 50%;
  left: 90%;
  right: 0;
  bottom: 0;
}
.image-generator {
  /*image generator gif*/
  background: url("../imgPF/image-generator.gif") no-repeat 50% 30%;
  background-size: cover;
  height: 500px;
  cursor: pointer;
}

.image-generator::after {
  content: "generating images";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  color: #fff;
  display: block;
  top: 40%;
  left: -50%;
  right: 0;
  bottom: 0;
}
.blockchain-site {
  /*blockchain site gif*/
  background: url("../imgPF/3DLogo.gif") no-repeat 60% 10%;
  background-size: cover;
  height: 500px;
  cursor: pointer;
}

.blockchain-site::after {
  content: "3D";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  background: -webkit-linear-gradient(left, lightgrey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  top: 50%;
  left: 100%;
  right: 0;
  bottom: 0;
}
.chrome-redesign-concept {
  /*google chrome concept*/
  background: url("../imgPF/GoogleHomepage.jpg") no-repeat;
  background-size: cover;
  height: 400px;
  cursor: pointer;
}
.chrome-redesign-concept::after {
  content: "chrome concept.";
  font-family: "Roboto Mono";
  font-size: 34px;
  position: relative;
  background: -webkit-linear-gradient(left, whitesmoke, lightslategray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  top: 20%;
  left: -60%;
  right: 80px;
  bottom: 0;
}
@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }
  .vertical {
    display: none;
  }
  .personal-portfolio::after,
  .tiktok-redesign::after,
  .chess-app::after,
  .notes-app::after,
  .case-converter::after,
  .image-generator::after,
  .blockchain-site::after,
  .chrome-redesign-concept::after {
    display: none;
  }
}
