/*--------------------basic styling--------------------*/
html, body
{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

.whitespace
{
    width: 100%;
    height: 100px;
}

@media(max-width: 768px)
{
    .whitespace{
        display:none;
    }
}
/*--------------------typewriter effect----------------*/
.line
{
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255,255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter
{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to{ 
        width: 26em;
    }
}
@media(max-width: 768px) {
    @keyframes typewriter {
        from{ 
            width: 0;
        }
        to{
            width: 24em;
        }
    }
}

@keyframes blinkTextCursor {
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}
/*--------------------navigation-----------------------*/
nav
{
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav #brand{
    float: left;
    display: block;
    margin-left: 82px;
    line-height:80px;
    font-weight: bold;
}

nav #brand a{
    color:#fff;
    transition: all 0.3s ease-out;
}

nav #brand a:hover{
    text-decoration: none;
}

nav #menu{
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li{
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li span{
    font-weight: 700;
}

nav #menu li a{
    color: #fff;
}

nav #menu li a:hover{
    text-decoration: none;
}
#toggle{
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn{
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize{
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height:90px;
    position: absolute;
    left: 45%;
    transform: translateX(-50%); /*-40 before*/
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li{
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1){
    margin-top: 100px; /*140px before*/
}

#resize #menu li a{
    color: #fff;
}

#resize #menu li a:hover{
    text-decoration: none;
}

#resize.active{
    visibility: visible;
    opacity: 1;
}

@media(max-width: 768px){
    #toggle{
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand {
        margin-left: 24px;
    }

    #menu a {
        font-size: 20px;
        font-weight: 300;
    }
    #resize li span{
        font-weight: bolder;
    }
    nav #menu {
        display: none;
    }
}

@media(min-width: 768px){
    #resize{
        visibility: hidden !important;
    }
}
/*--------------------hero section---------------------*/
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-weight: lighter;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
}

@media(max-width: 768px){ /*hero for index on phone*/
    .header h1{
        font-size: 20px; /*26px before*/
    }
}
/*----------------animation for scroll down icon-------*/
.scroll-down{
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: blueviolet;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0%{
        transform: translate(0, -20px) rotate(45deg);
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
    }
}
/*--------------------projects section-----------------*/
h6{
    text-align: center;
}

.vertical{
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 80px;
    position: absolute;
    left: 50%;
}

.project{
    height: 900px;
    width: 900px;
    position: relative;
}

.project1{
    background: url('imgPF/portfolio.gif') no-repeat 60% 10%;
    background-size: contain;

}

.project1::after{
    content:"building my portfolio.";
    font-family: "Roboto Mono";
    font-size: 34px;
    position: relative;
    color: #fff;
    display: block;
    top:20%;
    left: 90%;
    right: 0;
    bottom: 0;
}
.project2{
    background: url('imgPF/TikTok Redesign.gif') no-repeat 60% 10%;
    background-size: contain;

}

.project2::after{
    content:"redesigning tiktok.";
    font-family: "Roboto Mono";
    font-size: 34px;
    position: relative;
    color: #fff;
    display: block;
    top: 20%;
    left: -60%;
    right: 80px;
    bottom: 0;
}

.project3{ /*chess engine gif*/
    background: url("imgPF/chessgametrimmed.gif") no-repeat 50% 55%;
    background-size: contain;
}

.project3::after{
    content:"building chess.";
    font-family: "Roboto Mono";
    font-size: 34px;
    position: relative;
    color: #fff;
    display: block;
    top:60%;
    left: 90%;
    right: 0;
    bottom: 0;
}
.project4{ /*notes app gif*/
    background: url("imgPF/NotesApp.gif") no-repeat 0% 30%;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.project4::after{
    content:"taking notes.";
    font-family: "Roboto Mono";
    font-size: 34px;
    position: relative;
    color: #fff;
    display: block;
    top:80%;
    left: -50%;
    right: 0;
    bottom: 0;
}
.project5{ /*case converter gif*/
    background: url("imgPF/CaseConverter.gif") no-repeat 0% 60%;
    background-size: cover;
    height: 500px;

}

.project5::after{
    content:"converting cases";
    font-family: "Roboto Mono";
    font-size: 34px;
    position: relative;
    background: -webkit-linear-gradient(left, lightgrey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    top: 50%;
    left: 90%;
    right: 0;
    bottom: 0;
}

@media (max-width: 768px){
    .project{
        width: 90% !important;
        margin: 14px auto;
    }
    .vertical{
        display: none;
    }
    .project1::after, .project2::after, .project3::after, .project4::after, .project5::after{
        display: none;
    }
}
/*--------------------footer section-------------------*/
.collab{
    text-align: right;
}

.collab p{
    font-weight: lighter !important;
    margin-bottom: 20px;
}

.hr{
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.info h4{
    font-size: 18px;
    font-weight: lighter;
}

.info p{
    color: gray;
    font-weight: lighter;
}

.info li{
    font-weight: lighter;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.info a{
    color: #fff;
    font-weight: lighter;
}

.info a:hover{ /*linkedin hyperlink*/
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
}

#gh::before{ /*github hyperlink*/
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width:4px;
    margin-right: 6px;
    background: #3b5998;
}

#fg::before{ /*figma hyperlink*/
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width:4px;
    margin-right: 6px;
    background: pink;
}

#media, #address
{
    text-align: right;
}

#media ul
{
    list-style: none;
}

#media ul li
{
    display: inline-block;
}

@media(max-width: 768px)
{
    .collab, #linkedin, #media, #address{
        text-align: center;
    }

    .info ul{
        margin:0 0 0 -22px; /*0 0 0 -22px before */
        padding-left: 20px;
    }
    .collab p{
        margin: 80px 0 0 0;
    }
}
/*--------------------portfolio------------------------*/
.hero-content{
    margin-left: 0%;
}

.hero-content p{
    font-weight: 300;
    line-height: 36px;
    color: gray;
}

.hero-content h6{
    text-align: left;
}

@media(max-width: 768px){
    .hero-content{
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}
/*--------------------contact form---------------------*/

#contact-form
{
    margin: 5% 1.4%;
}

#contact-form ul
{
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

#contact-form li
{
    padding: 10px;
}

#contact-form li:last-of-type
{
    border-bottom: none;
}

#contact-form label
{
    display: block;
    font-size: .8em;
    color: #999;
    padding-left: 5px;
}

#contact-form input, #contact-form textarea
{
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: bolder;
}

input:focus
{
    outline: none;
    border: none;
}

textarea:focus
{
    outline: none;
    border: none;
}

.textarea
{
    border-bottom: 1px solid #fff;
}

.send
{
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
}

.send:hover
{
    background: #dfdfdf;
    color: #101010;
}

@media(max-width: 768px)
{
    #contact-form
    {
        margin: 5% -8%;
        width: 98%;
    }
}
/*--------------------about page-----------------------*/
.about{
    height: 500px;
    margin-top: 7%;
    margin-left: -2%;
    margin-right: 2%;

}
.image{
    background: url("imgPF/17.jpg") no-repeat 50% 4%;
    background-size: cover;
}
.about1{
    height: 500px;
    margin-top: 7%;
}
.image1{
    background: url("imgPF/18.jpg") no-repeat 50% 7%;
    background-size: cover;
}

/*--------------------project page---------------------*/
.hero-content1, .hero-content2{
    margin-left: 0%;
}

.hero-content1 p, .hero-content2 p{
    font-weight: 300;
    line-height: 36px;
    color: gray;
}

.hero-content1 h6, .hero-content2 h6{
    text-align: left;
}

@media(max-width: 768px){
    .hero-content1, .hero-content2{
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}

.prev, .next p{
    color: gray;
}

.prev p
{
    text-align: left;
    margin: 0 0 0 0;
}

.next p
{
    text-align: right;
    margin: 0 0 0 0;
}

.col
{
    display: block;
    margin: 0 0 20px 15%;
    padding: 12px;
    background: #1e1e1e;
    transition: all 200ms;
}
.rowImg#chess .col
{
    display: block;
    margin: 0 0 50% 50%;
    padding: 15px;
    background: #1e1e1e;
    transition: all 200ms;
}
.rowImg#portfolio
{
    height: 50vh;
}
.rowImg#tiktok > .rowCol
{
    width: 30%;
    float: left;
    padding: 0px 5px;
    height: 100%;
}
.rowImg#chess
{
    height: 2vh;
}
.col:hover
{
    transform: translateY(-6px);
    transition:all 200ms;
}

.col > img
{
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}
.rowImg#portfolio > .rowCol > .col
{/*so img is centered on computer*/
    display: block;
    width: 100%;
    margin: 0 50% 2px 100%;/*before margin: 0 50% 20px 100%;*/
}
.rowImg#chess .col > img
{
    display: block;
    width: 100%;
    margin: 2px 2px 9px 0;
}
.col h2
{
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}
.rowCol
{
    display: block;
    position: relative;
    width: 30.33%;
    height: 80%; /*80% before*/
    float: left;
    padding: 0 5px;
    box-sizing: content-box;
}

@media (max-width: 460px)
{
    .rowCol{
        width: 60%;
        height: 50%;
    }
}

@media (max-width: 900px)
{
    .rowCol{
        width: auto;
        float: none;
    }
    .rowImg#portfolio > .rowCol > .col{ /*so img is centered on phone*/
        margin: 0 2px 100%;
    }
    .rowImg#chess > .rowCol > .col{ /*so img is centered on phone*/
        margin: 0 2px 20%;
    }
}

@media screen and (max-width: 52em)
{
    /*.next{
        top: 98rem;
    }*/
    .project-nav, .row ,.col-lg-6 {
        bottom: -1rem; /*-90rem before*/
    }
}

@media screen and (max-width: 52em){ /*fix this later for project page*/
    #projectPage .collab, #linkedin, #media, #address {
        bottom: 0; /*-90rem before*/
    }
}
/*--------------------resume page----------------------*/
.hero-content-1{
    margin-left: 0%;
    font-weight: 300;
    line-height: 36px;
}

@media(max-width: 768px){
    .hero-content-1{
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}

/*#education.container .row
{
    margin-left: auto;
    margin-right: auto;
}*/

/*.edu
{ /*still center's the edu div
    margin: auto;
}*/

#education.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu h2
{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
}
.edu ul li
{
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    list-style-type: none;
    line-height: 1.9em;
}
.skill h2
{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
}

#skills.row ul li
{
    font-size: 14px;
    font-weight: lighter;
    list-style-type: none;
    line-height: 1.5em;
}

h2.exp
{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
}

h3.sub-exp
{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
h4.timeline
{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}

#experience.row ul li
{
    list-style-type: square;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 30px;
}
.announcement h2{
    font-size: 14px;
    font-weight: 350;
    text-align: center;
}

.announcement a{
    color:darkorange;
    font-weight: 350;
}
.announcement a:hover{
    color: darkorange;
    text-decoration: none;
}


