html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}
@media (max-width: 1024px) {
  .whitespace {
    display: none;
  }
}
@media screen and (max-width: 52em) {
  /*.next{
        top: 98rem;
    }*/
  .project-nav,
  .row,
  .col-lg-6 {
    bottom: -1rem; /*-90rem before*/
  }
}
